.slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}
.slide {
  position: relative;
}

.contentBox {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}

.contentBox-heading {
  font-size: 100px;
  color: #fff;
  font-weight: 600;
  position: relative;
  margin-bottom: 10px;
}

.contentBox-heading::before {
  content: "";
  width: 10%;
  height: 2px;
  position: absolute;
  bottom: 10px;
  z-index: 7;
  background-color: #fff;
}

.cBText {
  color: #fff;
  font-size: "Lato", sans-serif;
  font-size: 20px;
  width: 80%;
}

.learn-more {
  background: none;
  border: 1px solid #fff;
  padding: 10px 40px;
  margin-top: 30px;
  position: relative;
}
/* .learn-more::before {
  content: "learn more";
  position: absolute;
  color: #000;
  top: 0;

  left: 0;
  bottom: 0;
  width: 0;
  background: #fff;
  z-index: 4;
  transition: 1s ease;
  opacity: 0;
} */

/* .learn-more:hover::before {
  width: 100%;
  opacity: 1;
} */
.learn-more a {
  font-weight: 600;
}

.heading-next::after,
.heading-prev::after {
  display: none;
}
.swiper-button-prev.heading-prev {
  left: 30px;
}
.swiper-button-next.heading-next {
  right: 30px;
}

.HeadingSwiper .pag-heading {
  bottom: 40px;
}

.pag-heading .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: none;
  border: 1px solid #fff;
  opacity: 1;
}
.pag-heading .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

.heading-services {
  background-color: #000;
  color: #fff;
  padding: 70px 0;
}

.service-name {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: 600;
}
.service {
  margin-bottom: 40px;
  padding-top: 20px;
}

.s-title {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
}
.s-title::before {
  content: "";
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 10px;
  z-index: 7;
  background-color: #fff;
}

.portfolio .col-lg-3,
.portfolio .col-lg-6 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.port-item {
  position: relative;
  overflow: hidden;
}
.port-item img {
  transition: 0.5s ease;
}

.port-item:hover img {
  transform: scale(1.1);
}
.port-content {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  width: 95%;
  color: #fff;
  padding: 50px;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.5s ease;
}
.port-item:hover .port-content {
  opacity: 1;
  transform: translateX(0);
}
.port-content p {
  margin-bottom: 0;
}
.port-content p:first-child {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.review {
  text-align: center;
  color: #fff;
  width: 60%;
  margin: 0 auto;
}

.review-content {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding: 30px 0;
}
.reviewer {
  font-size: 22px;
  font-weight: 600;
}

.reviews {
  background-color: #000;
  padding: 100px;
}
.reviews svg {
  display: flex;
  margin: 0 auto;
}

.review-slider {
  padding-bottom: 50px;
}

.swiper-pagination.pag-heading.pag-review.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.customer-slider {
  background: #000;
}

.customerSlider .cus img {
  display: flex;

  margin: 0 auto;
}
.swiper.customerSlider.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  width: 80%;
}

.customer-slider {
  padding: 100px 0;
  background: #0c0b0b;
}

.wwd-text {
  color: #fff;
  padding: 0 60px;
}
.whatWeDo {
  background: #000;
}
.wwd-img img {
  height: 100%;
  transform: translateX(-150px);
}

.wwd-text-title {
  font-size: 40px;
  font-weight: 600;
  width: 70%;
  line-height: 1.14em;
  font-family: "lato", sans-serif;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.wwd-text-title::before {
  content: "";
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  z-index: 7;
  background-color: #fff;
}
.whatWeDo p {
  font-family: "lato", sans-serif;
  margin-top: 30px;
  color: #efefef;
}
.whatWeDo ul li {
  font-family: "lato", sans-serif;
  margin-bottom: 10px;
}
.whatWeDo ul {
  list-style: disc;
  list-style-position: inside;
}
.ourwork-first {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 30px;
}
.ourWork .wwd-text p {
  font-family: "lato", sans-serif;
  color: #efefef;
}
