:root {
  --animate-delay: 0.3s;
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  animation: zoomOut 5s linear infinite;
  /* animation-delay: 0s; */
}

.slide {
  position: relative;
}

.contentBox {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}

.contentBox-heading {
  font-size: 100px;
  color: #fff;
  font-weight: 600;
  position: relative;
  margin-bottom: 10px;
}

.contentBox-heading::before {
  content: "";
  width: 10%;
  height: 2px;
  position: absolute;
  bottom: 10px;
  z-index: 7;
  background-color: #fff;
}

.cBText {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  width: 80%;
}

.learn-more {
  background: none;
  border: 1px solid #fff;
  padding: 10px 40px;
  margin-top: 30px;
  position: relative;
}
/* .learn-more::before {
  content: "learn more";
  position: absolute;
  color: #000;
  top: 0;

  left: 0;
  bottom: 0;
  width: 0;
  background: #fff;
  z-index: 4;
  transition: 1s ease;
  opacity: 0;
} */

/* .learn-more:hover::before {
  width: 100%;
  opacity: 1;
} */
.learn-more a {
  font-weight: 600;
}

.heading-next::after,
.heading-prev::after {
  display: none;
}
.swiper-button-prev.heading-prev {
  left: 30px;
}
.swiper-button-next.heading-next {
  right: 30px;
}

.HeadingSwiper .pag-heading {
  bottom: 40px;
}

.pag-heading .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: none;
  border: 1px solid #fff;
  opacity: 1;
}
.pag-heading .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

.heading-services {
  background-color: #000;
  color: #fff;
  padding: 70px 0;
}

.service-name {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: 600;
}
.service {
  margin-bottom: 40px;
  padding-top: 20px;
}

.s-title {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
}
.s-title::before {
  content: "";
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 10px;
  z-index: 7;
  background-color: #fff;
}

.portfolio .col-lg-3,
.portfolio .col-lg-6 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.port-item {
  position: relative;
  overflow: hidden;
}
.port-item img {
  transition: 0.5s ease;
}

.port-item:hover img {
  transform: scale(1.1);
}
.port-content {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  width: 95%;
  color: #fff;
  padding: 50px;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.5s ease;
}
.port-item:hover .port-content {
  opacity: 1;
  transform: translateX(0);
}
.port-content p {
  margin-bottom: 0;
}
.port-content p:first-child {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.review {
  text-align: center;
  color: #fff;
  width: 60%;
  margin: 0 auto;
}

.review-content {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding: 30px 0;
}
.reviewer {
  font-size: 22px;
  font-weight: 600;
}

.reviews {
  background-color: #000;
  padding: 100px;
}
.reviews svg {
  display: flex;
  margin: 0 auto;
}

.review-slider {
  padding-bottom: 50px;
}

.swiper-pagination.pag-heading.pag-review.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.customer-slider {
  background: #000;
}

.customerSlider .cus img {
  display: flex;

  margin: 0 auto;
}
.swiper.customerSlider.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  width: 80%;
}

.customer-slider {
  padding: 100px 0;
  background: #0c0b0b;
}

.wwd-text {
  color: #fff;
  padding: 0 60px;
}
.whatWeDo {
  background: #000;
}
.wwd-img img {
  height: 100%;
  transform: translateX(-150px);
}

.wwd-text-title {
  font-size: 40px;
  font-weight: 600;
  width: 70%;
  line-height: 1.14em;
  font-family: "lato", sans-serif;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.wwd-text-title::before {
  content: "";
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  z-index: 7;
  background-color: #fff;
}
.whatWeDo p {
  font-family: "lato", sans-serif;
  margin-top: 30px;
  color: #efefef;
}
.whatWeDo ul li {
  font-family: "lato", sans-serif;
  margin-bottom: 10px;
}
.whatWeDo ul {
  list-style: disc;
  list-style-position: inside;
}
.ourwork-first {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 30px;
}
.ourWork .wwd-text p {
  font-family: "lato", sans-serif;
  color: #efefef;
}

.meet-minds {
  background: #000;
  color: #fff;
  padding: 100px 0;
}
.m-m-title {
  font-size: 40px;
  font-weight: 600;

  line-height: 1.14em;
  font-family: "lato", sans-serif;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.m-m-title::before {
  content: "";
  width: 7%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 7;
  background-color: #fff;
}

.people-things {
  position: relative;
  margin-bottom: 25px;
}
.peo-info {
  transform: rotate(-90deg) translateY(100%);
  transform-origin: left bottom; /* Điểm xoay, có thể thay đổi tùy ý */
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: 0.3s linear;
}
.creative-people {
  width: 80%;

  margin: 0 auto;
}
.creative-people:hover .peo-info {
  transform: rotate(-90deg) translateY(-30%);

  opacity: 1;
  z-index: 6;
}
.people-things img {
  transition: 0.3s ease;
}

.people-things:hover img {
  transform: scale(0.9);
}
.creative-people:hover .people-things {
  border: 1px solid #fff;
}
.people-social {
  opacity: 0;
  transition: 0.3s ease;
  display: flex;
  gap: 5px;
  justify-content: center;
}
.creative-people:hover .people-social {
  opacity: 1;
}

.people-social i {
  margin-right: 10px;
}

.about-us-img img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.about-us-content {
  background: #000;
  color: #fff;
  padding: 100px 0;
}
.b-h-title,
.studio-title {
  font-size: 40px;
  font-weight: 600;

  line-height: 1.14em;
  font-family: "lato", sans-serif;
  position: relative;
  padding-bottom: 30px;

  margin-bottom: 30px;
}
.b-h-title::before,
.studio-title::before {
  content: "";
  width: 15%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  z-index: 7;
  background-color: #fff;
}
.brief-history {
  padding-right: 50px;
}

.studio-info {
  padding-left: 50px;
}
.brief-history p,
.studio-text {
  font-family: "lato", sans-serif;
}

.studio-add {
  margin-top: 50px;
}

.address {
  padding-right: 30px;
}
.numbers {
  padding-left: 30px;
}

.add-title,
.number-title {
  font-weight: 600;

  margin-bottom: 20px;
}
@media (max-width: 740px) {
  .slide img {
    height: 70vh;
  }
  .contentBox-heading {
    font-size: 50px;
    line-height: 1.2;
  }
  .swiper-button-next.heading-next {
    right: 0;
  }
  .swiper-button-prev.heading-prev {
    left: 0;
  }
  .cBText {
    font-size: 16px;
  }
  .reviews {
    padding: 30px 0;
  }
  .review-content {
    font-size: 16px;
  }
  .swiper.customerSlider.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
    width: 100%;
  }

  .wwd-text {
    padding: 30px;
  }
  .wwd-text-title {
    width: 100%;
  }
  .creative-people {
    margin-bottom: 20px;
  }
  .peo-info {
    transform: rotate(-90deg) translateY(100%);
    transform-origin: left bottom;
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
    opacity: initial;
    transition: 0.3s linear;
    width: 123%;

    background: rgba(0, 0, 0, 0.6);
    padding: 5px 0;
  }
  .people-social {
    opacity: 1;
  }
  .wwd-img img {
    width: 100%;
    transform: unset;
  }
  .meet-minds {
    background: #000;
    color: #fff;
    padding: 45px 0;
  }
  .m-m-title {
    font-size: 30px;
  }
}
@media (max-width: 540px) {
  .slide img {
    height: 70vh;
  }
  .contentBox-heading {
    font-size: 50px;
    line-height: 1.2;
  }
  .swiper-button-next.heading-next {
    right: 0;
  }
  .swiper-button-prev.heading-prev {
    left: 0;
  }
  .cBText {
    font-size: 16px;
  }
  .reviews {
    padding: 30px 0;
  }
  .review-content {
    font-size: 16px;
  }
  .swiper.customerSlider.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
    width: 100%;
  }

  .wwd-text {
    padding: 30px;
  }
  .wwd-text-title {
    width: 100%;
  }
  .creative-people {
    margin-bottom: 20px;
  }
  .peo-info {
    transform: rotate(-90deg) translateY(100%);
    transform-origin: left bottom;
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
    opacity: initial;
    transition: 0.3s linear;
    width: 123%;

    background: rgba(0, 0, 0, 0.6);
    padding: 5px 0;
  }
  .people-social {
    opacity: 1;
  }
  .wwd-img img {
    width: 100%;
    transform: unset;
  }
  .meet-minds {
    background: #000;
    color: #fff;
    padding: 45px 0;
  }
  .m-m-title {
    font-size: 30px;
  }
  .port-content {
    opacity: 1;
    transform: translateX(0);
  }
}
